<div>
    <h1>Your Personal Budget</h1>
    <div>
    <%= link_to new_user_session_path do %>
      <button>LOG IN</button>
    <% end %>
    <%= link_to new_user_registration_path do %>
      <button>SIGN UP</button>
    <% end %>
  </div>
</div>